* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (min-width: 1024) {
    body {
        width: 1024px;
    }
}

header {
    padding-top: 5px;
    width: 85%;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('logo.jpg');
}

.logo_title {
    font-size: 46px;
    flex-direction: left;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.sub_contacts_info {
    font-size: 10px;
    color: #888;
}

.basket_icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.basket {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    width: 85%;
    margin: 30px auto 0 auto;
    border-top: 2px solid #f5b608;
    border-bottom: 2px solid #f5b608;
    padding: 20px 0 15px 0;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.menu__item {
    width: 15%;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.menu__item:hover {
    cursor: pointer;
    color: #f5b608;
}

.promo {
    width: 85%;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo__info {
    height: 437px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.promo__title {
    font-size: 48px;
}

.promo__text {
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    color: #585858;
}

.promo__img {
    width: 50%;
    height: 437px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('promo.png');
}

.pictures {
    width: 85%;
    padding-bottom: 10px;
    margin: 20px auto 0 auto;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.pictures__item {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pictures__item:first-child img {
    width: 95px;
    height: 95px;
}

.pictures__item img {
    width: 75px;
    height: 75px;
}

.pictures__text {
    padding-top: 10px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.sale {
    padding-top: 100px;
}

.cards {
    display: flex;
    margin: 50px auto 25px auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.cards__title {
    display: flex;
    width: 85%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.cards__title img {
    width: 45px;
    height: 45px;
}

.cards__title-title {
    font-size: 18px;
    font-weight: 600;
    color: #282828;
}

.cards__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 420px;
    margin-top: 15px;
}

.cards__card {
    border-radius: 4px;
    margin-left: 25px;
    padding: 14px 14px;
    box-shadow: 1px 7px 20px -15px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards__card:hover {
    cursor: pointer;
    box-shadow: 0px 0px 100px 50px rgba(245, 182, 8, 0.7)
}

.cards__card:first-child {
    margin: 0;
}

.card__img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.card__title {
    font-weight: 500;
    font-size: 16px;
    padding: 5px 0;
}

.card__options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0 10px 0;
}

.card__control {
    display: flex;
    width: 100%;
    margin-top: 5px;
    justify-content: space-between;
    align-items: center;
}

.card__price {
    font-weight: 500;
    font-size: 18px;
}

.card__buy-btn {
    font-weight: 600;
    font-size: 14px;
    padding: 5px 10px;
    border: 2px solid #f5b608;
}

.card__buy-btn:hover {
    color: white;
    background-color: #f5b608;
    border: 2px solid #f5b608;
}

footer {
    /* background-color: #282828; */
}

.footer {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    /* background-color: #282828; */
}

.form-row {
    width: 800px;
}

.title {
    /* margin-top: 150px; */
    /* padding-top: 100px; */
    display: flex;
    width: 100%;
    justify-content: center;
}